#root {
  margin: auto;
  text-align: center;
}

.containerr {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1px;
}
.row {
  height: 100%;
  width: 100%;
  margin: auto;
}
.rowDos {
  height: 100%;
  width: 100%;
}

.conteinerRow {
  margin: 40% auto;
  width: 100%;
  height: 100%;
}
#hdos {
  font-size: 50px;
  font-weight: 1000px;
  color: #fec0e7;
  width: 100%;
}
#duda {
  font-size: 50px;
  font-weight: 1000px;
  color: #fec0e7;
  width: 100%;
}
#h2 {
  font-size: 20px;
  color: #fec0e7;
}
#Button {
  border: 1px solid #e57a9e;
  width: 300px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#Button a {
  margin: auto;
  font-size: 30px;
  font-weight: 1000px;
}

#rowMalena {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: auto;
}

#ButtonRedes {
  background-color: #fec0e7;
  width: 300px;
  height: 60px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
}

#ButtonRedes a {
  text-align: center;
  font-size: 30px;
  font-weight: 1000px;
}
form {
  width: 100%;
  height: 100%;
  margin: auto 40px;
}
.ContenedorInput {
  background-color: #fec0e7;
  width: 300px;
  height: 60px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}
#ContenedorInput label input {
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: 1000px;
}
#rowConteiner {
  height: 30%;
  width: 40%;
  margin: auto;
}

@media (max-width: 700px) {
  .rowDos {
    height: 100%;
    width: 100%;
  }
  .row {
    height: 90%;
    width: 90%;
    margin: auto;
  }
  .conteinerRow {
    margin: 2% auto;
    text-align: center;
  }
  #hdos {
    font-size: 30px;
    font-weight: 1000px;
    width: 100%;
    color: #fec0e7;
  }
  #h2 {
    font-size: 10px;
    color: #fec0e7;
  }
  #Button {
    border: 1px solid #e57a9e;
    width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
  }
  #rowMalena {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto 40px;
  }
  .Malena {
    height: 100%;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 700px) {
  #rowConteiner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto -40px;
  }
}

@media (max-width: 428px) {
  .rowDos {
    height: 100%;
    width: 80%;
    margin: auto 10px;
  }
  .row {
    height: 80%;
    width: 80%;
    margin: auto;
  }
  .conteinerRow {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #hdos {
    font-size: 25px;
    font-weight: 1000px;
    color: #fec0e7;
    margin: auto;
  }
  #duda {
    font-size: 25px;
    color: #fec0e7;
    margin: auto;
  }
  #h2 {
    font-size: 10px;
    margin: auto;
    color: #fec0e7;
  }
  #Button {
    border: 1px solid #e57a9e;
    width: 210px;
    margin: 2% 25%;
    height: 50px;
    text-align: center;
  }
  #rowMalena {
    object-fit: cover;
    height: 100%;
    width: 70%;
    margin: auto 40px;
  }

  .Malena {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  #rowConteiner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto -75px;
  }

  #p {
    width: 250px;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .rowDos {
    height: 80%;
    width: 70%;
    margin: auto 10px;
  }
  .row {
    height: 80%;
    width: 80%;
    margin: auto 10px;
  }
  .conteinerRow {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
  }
  #hdos {
    font-size: 25px;
    font-weight: 1000px;
    color: #fec0e7;
    margin: auto;
  }
  #duda {
    font-size: 25px;
    font-weight: 1000px;
    color: #fec0e7;
    margin: auto;
  }

  #h2 {
    font-size: 10px;
    margin: auto;
    color: #fec0e7;
  }
  #Button {
    border: 1px solid #e57a9e;
    width: 210px;
    margin: 2% auto;
    height: 50px;
    text-align: center;
  }
  #rowMalena {
    object-fit: cover;
    height: 90%;
    width: 70%;
    margin: auto 20px;
  }
  #rowConteiner {
    height: 90%;
    width: 100%;
    justify-content: center;
    margin: auto;
  }
  .ContenedorInput {
    background-color: #fec0e7;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  form {
    width: 50%;
    margin: auto 40px;
  }
  #ContenedorInput label input {
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 1000px;
  }
}
